In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('train.csv',usecols =['GarageQual','FireplaceQu','SalePrice'])

In [3]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [5]:
df.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [6]:
df['GarageQual'].mode()

0    TA
Name: GarageQual, dtype: object

In [7]:
df['GarageQual'].fillna('TA',inplace= True)

In [8]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

using sklearn

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['SalePrice']),df['SalePrice'],test_size=0.2)

In [10]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

In [11]:
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_train)

C:\Users\anshs\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [12]:
imputer.statistics_

array(['Gd', 'TA'], dtype=object)